*, *::before, *::after{
  box-sizing: border-box; 
}

*{
  margin: 0; 
  padding: 0; 
}

ul[role='list'], ol[role='list']{
  list-style: none; 
}

html:focus-within{
  scroll-behavior: smooth; 
}

a:not([class]){
  text-decoration-skip-ink: auto; 
}

img, picture, svg, video, canvas{
  max-width: 100%;
  height: auto; 
  vertical-align: middle; 
  font-style: italic; 
  background-repeat: no-repeat; 
  background-size: cover;
}

input, button, textarea, select{
  font: inherit; 
}

@media (prefers-reduced-motion: reduce){
  html:focus-within {
      scroll-behavior: auto;
  }
  *, *::before, *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
      transition: none;
  }
}

body, html{
  height: 100%; 
  scroll-behavior: smooth; 
}

body {
  background-color: #fcf8f6;
  color: black;
  font-family: "Red Hat Text", serif;
}
.container {
  display: flex;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: 50px;
}
.content {
  position: relative;
}
.content p {
  color: #87635A;
font-size: 14px;
font-weight: 400;
line-height: 18.52px;
}
.content h2 {
  color: #260F08;
font-size: 16px;
font-weight: 600;
line-height: 21.17px;
}
.content h5 {
  color: #C73B0F;
font-size: 16px;
font-weight: 600;
line-height: 21.17px;
}
.content img{
  margin-bottom: 32px;
}
.content button {
  position: absolute;
  left: 80px;
  top: 188px;
  background-color: white;
  color: black;
  padding: 12.5px 28px;
  border-radius: 25px;
  border: 1px solid #ad8a85;

}
.selected-products {
  margin-left: 50px; 
}
.selected-products h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.selected-product {
  margin-bottom: 10px;
}
.btns {
font-size: 14px;
font-weight: 600;
line-height: 18.52px;
color: #260F08;
}
.content i {
  margin-right: 10px;
  color: #C73B0F;
}